<html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are following "<%= @post.title %>", You followed the aforementioned post and you have the option to unfollow it
     by unfavorating <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
     <p>
       <%= link_to "View post here", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
